* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding-top: 2em;
}

nav {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  flex: 1;
}

nav li a {
  color: inherit;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav li a:hover {
  color: #4caf50;
}

h1 {
  margin-bottom: 20px;
}

a {
  color: #58d35c;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #4caf50;
}

td:last-of-type a:last-child {
  color: #af4c4c;
}

td:last-of-type a:last-child:hover {
  color: #8e3e3e;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  background: #fff;
  padding: 2em 3em 2em 3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  border-radius: 0.5em;
}

label {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

form > *:nth-last-child(1) {
  background-color: #af4c4c;
}

form > *:nth-last-child(1):hover {
  background-color: #8e3e3e;
}

form > *:nth-last-child(2) {
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
