@font-face {
    font-family: Linik-Black;
    src: url('assets/fonts/LinikSans-Black.ttf');
}

@font-face {
    font-family: Linik-Bold;
    src: url('assets/fonts/LinikSans-Bold.ttf');
}

@font-face {
    font-family: Linik-Medium;
    src: url('assets/fonts/LinikSans-Medium.ttf');
}

@font-face {
    font-family: Linik-Regular;
    src: url('assets/fonts/LinikSans-Regular.ttf');
}

@font-face {
    font-family: Linik-Light;
    src: url('assets/fonts/LinikSans-Light.ttf');
}

@font-face {
    font-family: Linik-Thin;
    src: url('assets/fonts/LinikSans-Thin.ttf');
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    transition: ease-in-out .2s;
}

body {
    display: block;
    font-family: Linik-Regular;
    font-size: 16px;
    background-color: #1B1B1D;
    color: #ffffff;
    padding: 0px 70px;
}


/* Heading */
h1, h2, h3, h4, h5, h6 {
    font-family: Linik-Bold;
    font-weight: 800;
}


/* Buttons start */
button {
    font-family: Linik-Medium;
    font-size: 24px;
    background-color: #E38F25;
    color: #1B1B1D;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
}

.navigation button:hover {
    background-color: #ffffff;
    color: #E38F25;
    transform: translateY(-5px);
    transition: transform ease-in-out .5s;
    cursor: pointer;
}
/* Buttons end */


/* Navigation start */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

li {
    display: inline-block;
    list-style: none;
}

li a {
    font-family: Linik-Medium;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
}

li a:hover {
    color: #E38F25;
}
/* Navigation end */


/* Product start */
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #252527;
}

.product img {
    width: 256px;
    margin-bottom: 10px;
}

.product p {
    font-family: Linik-Medium;
    font-size: 20px;
    margin-bottom: 5px;
}

.product .platform {
    font-size: 13px;
    color: #8C8C8E;
}

.product .product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .product-bottom .price {
    font-family: Linik-Medium;
    font-size: 24px;
    color: #E38F25;
}

.product .product-bottom button {
    padding: 10px 70px;
}

.product .product-bottom button:hover {
    background-color: #ffffff;
    color: #E38F25;
    cursor: pointer;
}
/* Product end */


/* Footer start */  
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0 60px 0;
}

footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

footer .footer-top .footer-column h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

footer .footer-top .footer-column h3 {
    font-family: Linik-Regular;
    margin-bottom: 20px;
    color: #B3B3B3;
}

footer .footer-top .footer-column ul {
    display: flex;
    flex-direction: column;
}

footer .footer-top .footer-column ul li {
    margin-bottom: 10px;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    width: 100%;
}

footer .footer-bottom .footer-socials img {
    margin-left: 50px;
}

footer .footer-bottom .footer-socials img:hover {
    transform: translateY(-2px);
}