@font-face {
    font-family: Linik-Black;
    src: url('../../fonts/LinikSans-Black.ttf');
}

@font-face {
    font-family: Linik-Bold;
    src: url('../../fonts/LinikSans-Bold.ttf');
}

@font-face {
    font-family: Linik-Medium;
    src: url('../../fonts/LinikSans-Medium.ttf');
}

@font-face {
    font-family: Linik-Regular;
    src: url('../../fonts/LinikSans-Regular.ttf');
}

@font-face {
    font-family: Linik-Light;
    src: url('../../fonts/LinikSans-Light.ttf');
}

@font-face {
    font-family: Linik-Thin;
    src: url('../../fonts/LinikSans-Thin.ttf');
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    transition: ease-in-out .2s;
    transition: background-color none;
}

body {
    display: block;
    font-family: Linik-Regular;
    font-size: 16px;
    background-color: #1B1B1D;
    color: #ffffff;
    padding: 0px 70px;
}


/* Heading */
h1, h2, h3, h4, h5, h6 {
    font-family: Linik-Bold;
}


/* Container start */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 60px;
}
/* Container end */


/* Navigation start */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    margin: 60px 0;
    border-bottom: 3px solid #202022;
}

.navigation .navigation-left {
    font-size: 24px;
    flex: 1;
}

.navigation .navigation-left a {
    text-decoration: none;
    color: #ffffff;
}
/* Navigation end */


/* Content start */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}	
/* Content end */


/* Left start */

.left {
    padding: 20px;
    border-radius: 20px;
    background-color: #252527;
}

.left form {
    display: flex;
    flex-direction: column;
}

.left form label {
    font-size: 24px;
    color: #CCCCCC;
    margin-bottom: 10px;
}

.left form input, select {
    font-size: 20px;
    padding: 15px 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #808080;
    background-color: #252527;
    color: #ffffff;
}

.left form input[type=submit] {
    margin-bottom: 0;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    color: #1B1B1D;
    background-color: #E38F25;
}

.left form input[type=submit]:hover {
    border: none;
    font-size: 20px;
    color: #E38F25;
    background-color: #ffffff;
}
/* Left end */


/* Delete start */
.delete {
    padding: 20px;
    border-radius: 20px;
    background-color: #252527;
}

.delete form {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.delete form input[type=submit] {
    margin-bottom: 0;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    color: #1B1B1D;
    background-color: #E38F25;
}

.delete form input[type=submit]:hover {
    border: none;
    font-size: 20px;
    color: #E38F25;
    background-color: #ffffff;
}
/* Delete end */