@font-face {
    font-family: Linik-Black;
    src: url('../fonts/LinikSans-Black.ttf');
}

@font-face {
    font-family: Linik-Bold;
    src: url('../fonts/LinikSans-Bold.ttf');
}

@font-face {
    font-family: Linik-Medium;
    src: url('../fonts/LinikSans-Medium.ttf');
}

@font-face {
    font-family: Linik-Regular;
    src: url('../fonts/LinikSans-Regular.ttf');
}

@font-face {
    font-family: Linik-Light;
    src: url('../fonts/LinikSans-Light.ttf');
}

@font-face {
    font-family: Linik-Thin;
    src: url('../fonts/LinikSans-Thin.ttf');
}


/* Navigation start */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    margin: 60px 0;
    border-bottom: 3px solid #202022;
}

.navigation .navigation-left {
    flex: 1;
}

.navigation .navigation-left a {
    text-decoration: none;
    color: #ffffff;
}

.navigation .categories {
    flex : 1;
}

.navigation .categories .category-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation .categories .category-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navigation .categories .category-list a {
    font-family: Linik-Medium;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

.navigation .categories .category-list a:hover {
    color: #E38F25;
}

.navigation .navigation-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 50px;
}

.navigation .navigation-right a {
    font-size: 24px;
    color: #ffffff;
}

.navigation .navigation-right .shopping-cart {
    position: relative;
}

.navigation .navigation-right .shopping-cart>p {
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #E38F25;
    color: white;
    padding: 5px 10px;
    border-radius: 100px;
}

.navigation .navigation-right a:hover {
    color: #E38F25;
}
/* Navigation end */